@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400');

* {
  scroll-behavior: smooth;
}
*:focus {
  outline: 0;
}

#overbg {
  position: fixed;
  z-index: -90;
  height: 100vh;
  width: 100vw;
  top: 15vh;
  border: none;
  left: 0;
}

#overbg_img {
  width: 100vw;
  height: 100vh;
}

body, html {
  height: 100%;
  margin: 0;
}

.parallax { 
  background-image: url("../images/2.svg");
  z-index: -3;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
    background-color: #04151C;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100vw;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.stars {
  transform: scale(0);
  transition: 0.3s ease-in-out;
  z-index: -5;
}

#background {
  position: fixed;
  z-index: -100;
  left: 0;
  top: 0;
}

body::-webkit-scrollbar {
    width: 1vw;
    background-color: black;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #999999;
  outline: 1px solid slategrey;
}

* {
    box-sizing: border-box;
}

#top_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    z-index: 200;
}

#title {
  font-size: 3vw;
  float: left;
  left: 1vh;
  position: absolute;
  top: 1vh;
}

#title:hover:before {
  transform: scaleX(1);
}

#logo {
  display: flex;
  position: absolute;
  height: 10vh;
  left: 1vw;
  top: 0;
  flex-direction: row;
  align-items: center;
}

#project_logo {
  font-size: 2vw;
  font-weight: 300;
  color: white;
  margin: 0;
  padding: 0;
}

#project_logo > p {
  margin: 0;
}

#top_nav_list {
    display: table;
    float: right;
    list-style-type: none;
    height: 100%;
    margin-right: 1vw;
}

a {
    text-decoration: none;
}

.link {
    padding: 0 1vw;
    height: 100%;
    top: 0;
    font-size: 2.5vh;
    font-weight: 300;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    color: lightgray;
    flex-direction: row-reverse;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.link:hover {
    color: white;
}

.link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 1px;
    left: 0;
    background-color: white;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.currentLink {
  background-color: #04151C;
}

#intro {
    position: relative;
    /* text-align: center; */
    height: 30vh;
    top: 38vh;
    right: 3vw;
    width: 40vw;
    background: #04151C;
    /* border: 1px solid whitesmoke; */
    border-radius: 4px;
    margin: 0 62vw 0;
    z-index: 20;
}

#intro_text {
    font-weight: 100;
    width: 80%;
    font-size: 3.3vh;
    color: whitesmoke;
    background-color: #04151C;
    border-radius: 4px;
    position: absolute;
    text-align: right;
    margin: 5% 10%;
}

#animation {
  width: 40vw;
  position: absolute;
  height: 100vh;
  left: 0vw;
  overflow: hidden;
  border-bottom: 4px #82CEEC solid;
  border-bottom-style: dashed;
  margin-top: -20vh;
}
.orbit {
    position: absolute;
    bottom: 0vw;
    left: 0;
    transform: translateX(-50%) translateY(50%);
}
#earth {
    left: 5vw;
    bottom: 5vh;
    height: 54vw;
    width: 54vw;
    transform: translateX(-50%) translateY(50%);
}

#orbit1 {
    height: 60.125vw;
    width:  60.125vw;
    animation: rotate 20s linear infinite;
}
#orbit2 {
    height: 68.89vw;
    width: 68.89vw;
    animation: rotate 30s linear infinite;
}
#orbit3 {
    height: 75.65vw;
    width: 75.65vw;
    animation: rotate 40s linear infinite;
}

@keyframes rotate {
    from {
        transform: translateX(-50%) translateY(50%) rotate(0);
    }
    to {
        transform: translateX(-50%) translateY(50%) rotate(360deg);
    }
}

#desktop {
  display: block;
}
#mobile {
  display: none;
  }

#mission_container {
  width: 84vw;
  margin: 7vh auto;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  scroll-behavior: smooth;
}

#mission_heading {
  color: #37A1DD;
  margin-left: 8vw;
  font-size: 3.7vw;
  font-weight: 100;
  margin-top: 90vh;
  margin-bottom: 2vh;
}

.box {
  scroll-behavior: smooth;
  margin: -4vh 2vw;
  border-radius: 4px;
  background-color: white;
  width: 30%;
  min-height: 30vh;
  padding: 1vh;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.square {
    margin: 0 auto;
    width: 7vw;
    height: 7vw;
    background-color: white;
    border-radius: 4px;
}

.box h1 {
  text-align: center;
  font-size: 4vh;
  font-weight: 600;
  font-family: 'Roboto Slab', serif;
}

.box p {
  margin: 4vh auto 0;
  width: 90%;
  font-weight: 400;
  color: black;
  font-size: 2.7vh;
}

#making_heading {
  color: #37A1DD;
  margin-left: 8vw;
  font-size: 3.7vw;
  font-weight: 100;
  margin-top: 14vh;
  margin-bottom: 2vh;
}

#making_container {
  width: 80vw;
  margin: 0 9.5vw;
  min-height: 30vh;
  background-color: transparent;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 10px;
}

#centre_circle {
  visibility: visible;
  flex-direction: column;
  width: 270px;
  height: 250px;
  background-color: white;
  border-radius: 50%;
  display: block;
}

.box2 {
  scroll-behavior: smooth;
  margin: 1vh 2vw;
  border-radius: 4px;
  width: 50%;
  min-height: 30vh;
  padding: 1vh;
  display: flex;
  text-align: center;
  background-color: #D2F5FF;
  flex-direction: column;
}

.box2 h1 {
  text-align: center;
  font-size: 4vh;
  font-weight: 600;
  color: white;
  font-family: 'Roboto Slab', serif;
}

.box2 p {
  margin: 4vh auto;
  width: 90%;
  font-weight: 400;
  color: black;
  font-size: 2.7vh;
}

#left h1 {
  margin-left: 2vw;
  text-align: left;
  font-size: 2.7vw;
  color: white;
}

#right h1 {
  margin-right: 2vw;
  text-align: right;
  font-size: 2.7vw;
  color: white;
}

#making_container h1 {
  font-family: 'Roboto Slab', serif;
  color: black;
}

#left h1 {
  margin-left: 2vw;
  text-align: left;
  font-size: 2.7vw;
}

#making_container h2 {
  text-align: center;
  color: #333333;
}

#right p {
  margin: 2vw 7vw;
  text-align: right;
  width: 80%;
  padding: 5px;
  flex-direction: column;
  font-weight: 400;
  color: black;
  font-size: 2.7vh;
}

#right2 p {
  margin: 2vw 4vw;
  text-align: right;
  width: 80%;
  padding: 5px;
  flex-direction: column;
  font-weight: 400;
  color: black;
  font-size: 3vh;
}
#left p {
  margin: 2vw 2vw 0;
  text-align: left;
  width: 80%;
  padding: 5px;
  flex-direction: column;
  font-weight: 400;
  color: black;
  font-size: 2.7vh;
}

#team {
  opacity: 1;
  z-index: 100;
  width: 80vw;
  margin: 8vh 9.5vw;
  min-height: 35vh;
  background-color: #00395E;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  padding: 2vh 2vh;
}

#team_container {
  display: block;
}

#team_info {
  width: 75vw;
  margin: -2vh auto;
  display: flex;
  flex-direction: column;
  height: 80%;
}

/* #team_img {
  margin-top: 5vh;
  border-radius: 50%;
  background-color: white;
  height: 80%;
  width: 18vw;
  margin-left: 22vw;
  float: right;
} */

#team_heading{
  margin-top: 3vh;
  font-size: 3.7vw;
  color: #3C94BA;
  font-weight: 200;
  margin-bottom: 30px;
} 

#team p {
  width: 100%;
  margin-top: -3vh;
  font-size: 2.7vh;
  font-weight: 400;
  color: white;
}

#team_button {
  width: 25vw;
  padding: 2vh;
  border: 1px solid #D2F5FF;
  background-color: #00395E;
  color: #D2F5FF;
  text-align: center;
  font-size: 3vh;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  margin-bottom: 15px;
}

#team_button:hover {
  background-color: #D2F5FF;
  color: #00395E;
  border: 2px solid #D2F5FF;
}

#partners {
  width: 80vw;
  margin: 8vh 9.5vw;
  min-height: 20vh;
  background-color: #D2F5FF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  border-radius: 4px;
  padding: 20px;
}

#partners_heading {
  margin-top: 0;
  color: #04151C;
  font-size: 3.7vw;
  font-weight: 200;
}

.partners_details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 97%;
  margin: 0 auto;
}

.partners_logo {
  float: left;
  position: relative;
  margin: 0 20px;
  flex: 1 0 40%;
  width: 50%;
}

.partners_logo img {
  width: 100%;
  border-radius: 5px;
  height: 300px;
}

#reviews {
  background-color: #00395E;
  width: 80vw;
  margin: 5vh 9.5vw;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  align-items: center;
  padding: 30px;
}

#review {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: none;
}

#review_image {
  border-radius: 50%;
  background-color: white;
  width: 65%;
  height: 230px;
}

#review_detail {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%;
  height: 90%;
  margin: 0;
}

#review_detail h2 {
  color: white;
  font-weight: 200;
  font-size: 3vw;
  margin: 0 10px 10px;
}

#review_detail h3 {
  margin: 10px;
  color: #999999;
  font-weight: 100;
  font-size: 2.5vw;
}

#review p {
  margin: 10px;
  font-size: 2.7vh;
  color: whitesmoke;
  font-weight: 200;
}

#featured_in  {
  background-color: #FFFFFF;
  width: 80vw;
  margin: 5vh 9.5vw;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border-radius: 4px;
  align-content: center;
  padding: 1vh;
}

#featured_in h1 {
  margin-top: 0vh;
  font-size: 3.7vw;
  color: #465258;
  font-weight: 300;
 }

.featured_details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 97%;
  margin: 0 auto;
}

.featured_logo {
  float: left;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: 0 20px;
  flex: 1 0 15%;
  width: 20%;
}

.featured_logo img {
  width: 10vw;
  border-radius: 5px;
  height: 10vh;
}

.featured_logo2 {
  float: left;
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin: 10px 2px;
  flex: 1 0 10%;
  width: 16%;
}

.featured_logo2 img {
  width: 10vw;
  border-radius: 5px;
  height: 10vh;
}

#social {
  background-color: transparent;
  width: 100vw;
  min-height: 40vh;
  position: absolute;
  margin-top: 10vh;
  margin-left: 0;
  margin-bottom: 10vh;
  overflow: visible;
}

#media {
  width: 30vw;
  height: 30vh;
  position: absolute;
  margin-top: 3vh;
  margin-left: 4vw;
  text-align: center;
}

#media h1 {
  color: white;
  font-weight: 400;
  /* font-size: 4.5vh; */
}

.media_icons {
  width: 3vw;
  height: 3vw;
  background-color: transparent;
  float: left;
  margin: 2vh 3.5vw;
  transition: 0.3s ease;
  cursor: pointer;
  transform: scale(1);
}

#media a:hover .media_icons{
  transform: scale(1.2);
}

#newsletter {
  position: absolute;
  margin-top: 2vh;
  right: 15vw;
  height: 30vh;
  border-left: 2px solid white;
  padding: 0.2vh 3vw 5vh;
}

#newsletter h1 {
  /* margin-top: -2vh; */
  color: white;
  font-weight: 400;
}

::placeholder {
  font-family: 'Lato', sans-serif;
}

input[type="email"] {
  background-color: #D2F5FF;
  border-radius: 4px;
  border: none;
  width: 22vw;
  font-size: 3vh;
  color: #04151C;
  height: 6vh;
  cursor: text;
  padding-left: 10px;
  position: absolute;
  z-index: 20;
}

#submit {
  margin-left: 23vw;
  width: 7vw;
  height: 6vh;
  border: 1px solid #82CEEC;
  background-color: #04151C;
  color: #82CEEC;
  z-index: 100;
  position: absolute;
  border-radius: 4px;
  font-size: 2.4vh;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

#submit:hover {
  background-color: #82CEEC;
  color: #04151C;
  border: none;
}

#end_animation {
  width: 70vw;
  height: 50vh;
  overflow: hidden;
  position: absolute;
  margin-bottom: 0;
  right: 0;
  margin-top: 23vh;
}

#earth2 {
  height: 130vh;
  width: 300vw;
  position: absolute;
  right: -135vw;
  bottom: -94vh;
  overflow: hidden;
}

#end_orbit1 {
  height: 130vh;
  width: 300vw;
  position: absolute;
  right: -130vw;
  overflow: hidden;
  bottom: -92vh;
  animation: end_rotate 20s linear infinite;
}

@keyframes end_rotate {
  from {
      transform: rotate(0);
  }
  to {
      transform: rotate(360deg);
  }
}

.small_icons {
  width: 4vw;
  height: 4vh;
  display: inline-block;
}
/* ------------------------------------------------------------------------------------ */

#team_title {
  text-align: center;
  width: 100vw;
  top: 12vh;
  position: absolute;
}

 #team_title h1 {
  color: #7DBFD3;
  font-weight: 400;
  font-size: 4vw;
}

/* #team_container {
  top: 30vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80vw;
  margin: 0 10vw;
} */


.member {
  margin: 10vh auto 5vh;
  width: 15vw;
  min-height: 0;
}

.member img {
  background-color: grey;
  border-radius: 4px;
  width: 15vw;
  height: 33vh;
}

.name {
  font-size: 1.3vw;
  color: white;
  text-align: center;
}

.dept {
  font-size: 1.3vw;
  color: grey;
  text-align: center;
}

/* ---------------------------------------------------------------------------------------------- */
/* ----------------------------------------------------SIDENAV ICON------------------------------------------------------------*/
#btn {
display: none;
position: fixed;
z-index: 500;
top: 2.5vh;
right: 5vw;
cursor: pointer;
transition: right 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#btn div {
width: 35px;
height: 2px;
margin-bottom: 8px;
background-color: #82CEEC;
transition: opacity 500ms, background-color 250ms, -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms;
transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms, -webkit-transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#btn.active {
right: 235px;
}

#btn.active div {
background-color: #82CEEC;
}

#btn.active #top {
-webkit-transform: translateY(10px) rotate(-135deg);
        transform: translateY(10px) rotate(-135deg);
}

#btn.active #middle {
opacity: 0;
-webkit-transform: rotate(135deg);
        transform: rotate(135deg);
}

#btn.active #bottom {
-webkit-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg);
}
/*----------------------------------SIDENAV CONTENT----------------------------------------------------------------  */
#sidenav_box {
display: none;
position: fixed;
z-index: 4;
overflow: auto;
top: 0px;
right: -275px;
width: 275px;
opacity: 0;
padding: 20px 0px;
height: 100%;
background-color: black;
color: whitesmoke;
transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}

#sidenav_box.active {
right: 0px;
opacity: 1;
}

#items {
position: relative;
top: 50%;
-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
}
#items .item {
position: relative;
cursor: pointer;
font-size: 2em;
padding: 15px 30px;
transition: all 250ms;
}
#items .item:hover {
padding: 15px 45px;
background-color: #00395E;
}

#items a {
  width: 100%;
}

#btn, #btn * {
will-change: transform;
}

#sidenav_box {
will-change: transform, opacity;
}

/* --------------------------------------------------CAROUSEL--------------------------------------------------------------- */

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(14, 29, 51, 0.8), rgba(14, 29, 51, 0.2));
}

.hero-slider {
  display: none;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero-slider .carousel-cell {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-slider .carousel-cell .slide-content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}
.hero-slider .carousel-cell .slide-content .title {
  position: relative;
  /* font-family: "Fjalla One", sans-serif; */
  font-size: 3.2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-slider .carousel-cell .slide-content .caption {
  /* font-family: "Noto Sans", sans-serif; */
  font-size: 2.2rem;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 200;
}
.hero-slider .carousel-cell .slide-content .btn {
  display: inline-block;
  border: 1px solid #fff;
  padding: 14px 18px;
  text-transform: uppercase;
  /* font-family: "Noto Sans", sans-serif; */
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #fff;
  text-decoration: none;
}
.hero-slider .carousel-cell .slide-content .btn:hover {
  background: #fff;
  color: #000;
  transition: all .2s ease;
}
.hero-slider .flickity-prev-next-button {
  width: 80px;
  height: 80px;
  background: transparent;
}
.hero-slider .flickity-prev-next-button:hover {
  background: transparent;
}
.hero-slider .flickity-prev-next-button .arrow {
  fill: white;
}
.hero-slider .flickity-page-dots {
  bottom: 30px;
}
.hero-slider .flickity-page-dots .dot {
  width: 30px;
  height: 4px;
  opacity: 1;
  background: rgba(255, 255, 255, 0.5);
  border: 0 solid white;
  border-radius: 0;
}
.hero-slider .flickity-page-dots .dot.is-selected {
  background: #ff0000;
  border: 0 solid #ff0000;
}

/* --------------------------------
Masking
-------------------------------- */
.slide-content .title,
.slide-content .caption,
.slide-content .btn {
  position: relative;
  font-weight: 200;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slide-content.mask .mask {
  position: relative;
  overflow: hidden;
}
.slide-content.mask .title {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  -webkit-animation-name: slide-up;
          animation-name: slide-up;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  opacity: 1;
}
.slide-content.mask .divider {
  display: inline-block;
  position: relative;
  margin: 5px auto;
  height: 2px;
  width: 60%;
  background-color: #ffffff;
  -webkit-animation: divider-mask 1s 0.3s both;
          animation: divider-mask 1s 0.3s both;
}
.carousel-cell {
  width: 33%;
  height: 160px;
  margin-right: 10px;
}
.carousel-cell.size-180 { width: 180px; }
.carousel-cell.size-large { width: 75%; }
.slide-content.mask .caption,
.slide-content.mask .btn {
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
  -webkit-animation-name: slide-down;
          animation-name: slide-down;
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes divider-mask {
  0%,
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  40%,
  60% {
    -webkit-transform: scaleX(1);
  }
}
@keyframes divider-mask {
  0%,
  100% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  40%,
  60% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
/*------------------------------------------------- NEW TEAM PAGE----------------------------------------------- */

#team_title_new {
  height: 5vh;
  margin: 15vh auto;
  font-size: 5vw;
  font-weight: 300;
  text-align: center;
  display: block;
  color: white;
}

.subsystem {
  position: relative;
  left: 0;
  margin-top: 20vh;
  margin-bottom: 10vh;
  width: 100vw;
}

.subsys_heading {
  margin: 3vh 0 5vh;
  font-weight: 400;
  font-size: 4vw;
  color: #37A1DD;
  text-align: center;
}

.subsys_details {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.subsys_img {
  text-decoration: none;
  box-sizing: border-box;
  /* width: 33.3333%; */
   /* explanation below */
  /* margin: 5px; */
  /* height: 100px; */
  /* background-color: blue; */
  margin: 4vh auto;
  /* align-content: center; */
}

.overlay_img {
  position: relative;
  margin-bottom: 5vh;
  flex: 1 0 40%;
  
}

.subsys_img img {
  
  width: 220px;
  height: 220px;
  border-radius: 100%;
  transform: scale(1);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.subsys_img img:hover {
  transform: scale(1.1);
}

.name2 {
  text-align: center;
  color: white;
  font-weight: 200;
}

.desig {
  text-align: center;
  color: white;
  font-weight: 200;
  margin-bottom: 45px;
}

.icon2 {
  color: gold;
  width: 50px;
  height: 50px;
  /* font-size: 40px; */
  position: absolute;
  /* margin-top: 0vh; */
  transform: translateX(50%)  translateY(50%);
  /* margin-right: 1vw; */
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.subsys_img:hover .icon {
  opacity: 1;
}
/* -------------------------------------------------MEDIA QUERIES---------------------------------------------------------- */
@media only screen and (max-width: 1000px) {
  #left {
    background-color: #D2F5FF;
  }

  #right {
    background-color: #D2F5FF;
  }

  #centre_circle {
    display: none;
  }

  #right p {
    margin: 2vw 7vw;
  }

  .partners_logo img {
    width: 100%;
    border-radius: 5px;
    height: 250px;
  }

  #team_title_new {
    font-size: 45px;
  }

  #top_nav {
    height: 15vh;
  }

  .parallax {
    background: none;
  }

  .link {
    font-size: 18px;
  }

  #social {
    background-color: transparent;
    width: 100vw;
    min-height: 40vh;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    overflow: visible;
  }

  #logo {
    display: flex;
    position: absolute;
    height: 15vh;
    left: 2vw;
    top: 0;
    flex-direction: row;
    align-items: center;
  }
  
  #project_logo {
    font-size: 25px;
    color: white;
    margin: 0;
    padding: 0;
  }

  #team p {
    font-size: 2.7vh;
    font-weight: 300;
  }

  #media {
    width: 100vw;
    height: 20vh;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    text-align: center;
  }

  #media h1 {
    color: white;
    font-weight: 400;
    font-size: 25px;
  }

  .media_icons {
    width: 4vw;
    height: 4vw;
    background-color: transparent;
    float: left;
    margin: 0 2vw;
    transition: 0.3s ease;
    cursor: pointer;
    transform: scale(1);
  }

  #media a:hover .media_icons{
    transform: scale(1.2);
  }

  #review_detail h2 {
    font-size: 35px;
  }

  #review_detail h3 {
    font-size: 27px; 
  }

  #review_detail p {
    font-size: 2.7vh;
  }

  #earth2 {
    height: 130vh;
    width: 170vw;
    position: absolute;
    right: -70vw;
    bottom: -105vh;
  }

  #newsletter {
    position: absolute;
    margin: 2vh 0 2vh;
    left: 0;
    height: 30vh;
    width: 100vw;
    border-left: none;
    padding: 1vh;
  }

  #newsletter h1 {
    font-size: 25px;
    color: white;
    font-weight: 400;
  }

  input[type="email"] {
    background-color: #D2F5FF;
    border-radius: 4px;
    border: none;
    width: 70vw;
    color: #04151C;
    font-size: 2vh;
    height: 6vh;
    cursor: text;
    position: absolute;;
  }

  #submit {
    margin-left: 72.5vw;
    width: 22vw;
    height: 6vh;
    position: absolute;
    border-radius: 4px;
    font-size: 2vh;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  #end_animation {
    width: 70vw;
    height: 50vh;
    overflow: hidden;
    position: absolute;
    margin-bottom: 0;
    right: 0;
    margin-top: 35vh;
  }
  
  #earth2 {
    height: 130vh;
    width: 300vw;
    position: absolute;
    right: -135vw;
    bottom: -92vh;
    overflow: hidden;
  }
  
  #end_orbit1 {
    height: 130vh;
    width: 300vw;
    position: absolute;
    right: -130vw;
    overflow: hidden;
    bottom: -90vh;
    animation: end_rotate 20s linear infinite;
  }
  .subsys_heading {
    margin: 3vh 0 50px;
    font-weight: 400;
    font-size: 35px;
    color: #37A1DD;
    text-align: center;
  }
}

@media only screen and (max-width: 870px) {
  #review_detail h2 {
    font-size: 33px;
  }

  #review_detail h3 {
    font-size: 25px; 
  }

  #review_detail p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 835px) {
  #review_image {
    width: 80%;
  }
  #review_detail {
    width: 100%;
  }
  #review_detail h2 {
    font-size: 4vw;
  }

  #review_detail h3 {
    font-size: 3vw; 
  }

  #review_detail p {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 800px) {
  #team p {
    /* font-size: 16px; */
    font-weight: 300;
  }
  #end_animation {
    width: 90vw;
    height: 50vh;
    overflow: hidden;
    position: absolute;
    margin-bottom: 0;
    right: 0;
    margin-top: 40vh;
  }
  #end_orbit1 {
    height: 130vh;
    width: 300vw;
    position: absolute;
    right: -130vw;
    overflow: hidden;
    bottom: -90vh;
    animation: end_rotate 20s linear infinite;
  }
  #top_nav {
    height: 12vh;
  }
  #logo {
    height: 12vh;
  }
  .link {
    font-size: 16px;
  }
  .featured_logo img, .featured_logo2 img {
    width: 50%;
    height: 19vh;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 730px) {
  #review_image {
    width: 80%;
  }
  #review_detail {
    width: 100%;
  }
  #review_detail h2 {
    font-size: 3.5vw;
  }

  #review_detail h3 {
    font-size: 3vw; 
  }

  #review_detail p {
    font-size: 2.8vw;
  }
}


@media only screen and (max-width: 700px) {
  .link {
    font-size: 15px;
  }
  body {
    background-image: none;
  }

  #team p {
    margin-top: -1vh;
    /* font-size: 16px; */
    font-weight: 300;
  }
  #team_button {
    font-size: 2.3vh;
  }
  #end_animation {
    width: 100vw;
    height: 40vh;
    overflow: hidden;
    position: absolute;
    margin-bottom: 0;
    right: 0;
    margin-top: 50vh;
  }
  
  #earth2 {
    height: 130vh;
    width: 300vw;
    position: absolute;
    right: -140vw;
    bottom: -98vh;
    overflow: hidden;
  }
  
  #end_orbit1 {
    height: 130vh;
    width: 300vw;
    position: absolute;
    right: -135vw;
    overflow: hidden;
    bottom: -96vh;
    animation: end_rotate 20s linear infinite;
  }
  #reviews {
    padding: 13px;
  }
} 

@media only screen and (max-width: 675px) {
  #review_image {
    width: 80%;
  }
  #review_detail {
    width: 100%;
  }
  #review_detail h2 {
    font-size: 3.5vw;
  }

  #review_detail h3 {
    font-size: 2.9vw; 
  }

  #review_detail p {
    font-size: 2.8vw;
  }
}

@media only screen and (max-width: 635px) {
  #review_image {
    width: 75%;
  }
  #review_detail {
    width: 100%;
  }
  #review_detail h2 {
    font-size: 3.3vw;
  }

  #review_detail h3 {
    font-size: 2.9vw; 
  }

  #review_detail p {
    font-size: 2.8vw;
  }
}

@media only screen and (max-width: 600px) {
  .parallax {
    background: none;
  }
  .hero-slider {
    display: block;
  }
  #animation {
    border: none;
  }
  #intro {
      position: relative;
      text-align: center;
      height: 30vh;
      top: 64vh;
      width: 90vw;
     margin: 0 auto; 
  }
  #intro_text {
      font-size: 2.5vh;
      color: whitesmoke;
      background-color: #04151C;
      border-radius: 4px;
      position: absolute;
      z-index: 20;
      text-align: center;
  }

  #mission_heading {
    font-size: 5vh;
  }
  #making_heading {
    margin-top: 7vh;
    font-size: 5vh;
    margin-bottom: 2vh;
  }
  .member {
    width: 30vw;
  }

  .member img {
    width: 30vw;
  }
  .name, .dept {
    font-size: 2.5vh;
  }
  .box {
    min-height: 13vh;
    width: 80%;
    margin:0 auto;
    border-radius: 15px;
    padding: 1vh;
    display: block;
    text-align: left;
  }
  .box p, #making_container p, #partners p {
    font-size: 1.5vh;
  }
  #desktop {
    display: none;
  }
  #mobile {
    display: block;
    }

  #centre_circle {
    visibility: hidden;
  }
  #team_img {
    width: 40%;
    height: 70%;
    margin-top: 6vh;
  }
  #team_info {
    margin-top: -1vh;
    width: 100%;
  }

  #review {
    width: 90vw;
    border: none;
  }
  #review_image {
    width: 80%;
    height: 200px;
  }

  #team_title h1 {
    font-size: 50px;
  }
  #top_nav {
      position: fixed;
      top: 0;
      left: 0vw;
      width: 100vw;
      height: 10vh;
      background-color: rgba(0, 0, 0);
      color: white;
      z-index: 200;
  }
  #logo {
      height: 10vh;
  }
  #btn {
    display: block;
  }
  #top_nav_list {
    display: none;
  }
  #sidenav_box {
    display: block;
  }
  #navigate_elements {
    display: none;
  }
  .link {
      padding: 2vh 1vw 0;
      height: 10vh;
      position: absolute;
      top: 0;
      font-size: 16px;
      display: inline-grid;
      vertical-align: middle;
      position: relative;
      color: lightgray;
      flex-direction: row-reverse;
      transition: 0.3s ease-in-out;
      cursor: pointer;
  }
  .link li {
    display: inline-block;
    margin-left: 4vw;
    position: relative;
    top: -7px;
  }
  .item:hover {
      color: white;
  }
  .small_icons {
    width: 4vw;
    height: 4vh;
    display: inline-block;
  }
  .item:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 1px;
      left: 0;
      background-color: white;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
  }

  .item:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
  }
  .item:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: 1px;
      left: 0;
      background-color: white;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
  }

  .item:hover:after {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
  }
  .link:hover:before {
    visibility: hidden;
  }

  #animation {
    width: 50vw;
    position: absolute;
    height: 100vh;
    left: 30vw;
    margin: -80vh auto 10vh;
    overflow: visible;
  }
  .orbit {
      bottom: 10vh;
      left: 20vw;
      position: absolute;
      transform: translateX(0) translateY(0);
  }
  #earth {
      bottom: -8vh;
      left: -2vw;
      height: 52vw;
      width: 52vw;
      transform: translateX(0) translateY(0);     
  }
  #orbit1 {
      height: 58.125vw;
      width:  58.125vw;
      animation: rotate 20s linear infinite;
  }
  #orbit2 {
      height: 64.89vw;
      width: 64.89vw;
      animation: rotate 30s linear infinite;
  }
  #orbit3 {
      height: 70.65vw;
      width: 70.65vw;
      animation: rotate 40s linear infinite;
  }
  #mission_heading {
    /* font-size: 4vh; */
  }
 
  #team_title h1 {
    /* font-size: 40px; */
  }
  .member {
    width: 50vw;
  }

  .member img {
    width: 50vw;
  }
  .name, .dept {
    font-size: 2.5vh;
  }
  #mission_heading {
    margin-top: 70vh;
  }
  #mission_container .box {
    height: 27vh;
    border-radius: 3px;
  }
  #mission_container {
    margin: 2vh auto;
  }
  .box {
    width: 80%;
    border-radius: 15px;
    margin:0 auto;
    padding: 0;
    display: block;
    text-align: left;
  }
  .square {
    margin: 0 auto;
    width: 6vw;
    height: 6vw;
    background-color: white;
    border-radius: 4px;
  }
  .icon {
    width: 25%;
    margin-top: 3vh;
    float: left;
  }
  .icon img {
    margin-left: 5vw;
    width: 8vw;
    height: 8vh;
  }
  .box h1 {
    text-align: center;
    /* font-size: 5vw; */
    font-weight: 600;
  }
  .box:focus {
    outline: 0;
  }
  .box p {
    width: 75%;
    font-weight: 300;
    color: black;
    font-size: 2.7vh;
  }
  #partners p {
    font-size: 0.5vh;
  }

  #making_container {
    min-height: 20vh;
    width: 85vw;
    margin: 0 auto;
    padding: 0;
  }
  #making_container > h1 {
    margin-top: 0vh;
    /* font-size: 5vw; */
  }

  #making_container h1 {
    font-family: 'Roboto Slab', serif;
    color: black;
  }
  #centre_circle {
    display: none;
  }
  #left > h1 {
    margin-left: 2vw;
    text-align: center;
    font-size: 2.7vh;
  }
  
  #right > h1 {
    margin-right: 2vw;
    text-align: center;
    font-size: 2.7vh;
  }
  
  #right p {
    margin: 2vw 8vw;
    text-align: center;
    width: 80%;
    padding: 5px;
    flex-direction: column;
    font-weight: 300;
    color: black;
    font-size: 2.7vh;
  }
  #left p {
    margin: 2vw 8vw;
    text-align: center;
    width: 80%;
    padding: 5px;
    flex-direction: column;
    font-weight: 300;
    color: black;
    font-size: 2.7vh;
  }
  
  #team {
    min-height: 27vh;
    width: 85vw;
    margin: 5vh auto;
  }
  #team_heading {
    font-size: 28px;
    margin-top: 1vh;
    margin-bottom: 20px;
  }
  #reviews {
    width: 85vw;
    margin: 0 auto;
  }
  #partners {
    min-height: 25vh;
    width: 85vw;
    padding: 1vh;
    margin: 5vh auto;
  }
  #partners_heading {
    margin-top: 0;
    font-size: 5vw;
  }
  .partners_details {
    width: 100%;
  }
  .partners_logo img {
    height: 130px;
  }
  #featured_in {
    min-height: 25vh;
    width: 85vw;
    margin: 5vh auto;
    padding: 1vh;
  }
  #featured_in h1 {
    margin-top: 0vh;
    font-size: 3vh;
  }
  #social {
    background-color: transparent;
    width: 100vw;
    min-height: 40vh;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    overflow: visible;
  }

  #media {
    width: 100vw;
    height: 20vh;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    text-align: center;
  }

  #media h1 {
    color: white;
    text-align: left;
    padding: 1vw;
    font-weight: 400;
    font-size: 25px;
  }

  .media_icons {
    width: 6vw;
    height: 6vw;
    background-color: transparent;
    float: left;
    margin: 2vw;
    transition: 0.3s ease;
    cursor: pointer;
    transform: scale(1);
  }

  #media a:hover .media_icons{
    transform: scale(1.2);
  }

  #earth2 {
    height: 130vh;
    width: 170vw;
    position: absolute;
    right: -70vw;
    bottom: -100vh;
  }

  #newsletter {
    position: absolute;
    margin-top: 3vh;
    left: 0;
    height: 30vh;
    width: 100vw;
    border-left: none;
    padding: 1vh;
  }

  #newsletter h1 {
    font-size: 25px;
    color: white;
    font-weight: 400;
  }

  input[type="email"] {
    background-color: #D2F5FF;
    border-radius: 4px;
    border: none;
    width: 70vw;
    color: #04151C;
    font-size: 2vh;
    height: 6vh;
    cursor: text;
    position: absolute;;
  }

  #submit {
    margin-left: 72.5vw;
    width: 22vw;
    height: 6vh;
    position: absolute;
    border-radius: 4px;
    font-size: 2vh;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  #end_animation {
    width: 90vw;
    height: 40vh;
    overflow: hidden;
    position: absolute;
    margin-bottom: 0;
    right: 0;
    margin-top: 42vh;
  }
  
  #earth2 {
    height: 130vh;
    width: 300vw;
    position: absolute;
    right: -135vw;
    bottom: -98vh;
    overflow: hidden;
  }
  
  #end_orbit1 {
    height: 130vh;
    width: 300vw;
    position: absolute;
    right: -127vw;
    overflow: hidden;
    bottom: -96vh;
    animation: end_rotate 20s linear infinite;
  }
  #m_s {
    display: none;
  }
  .featured_logo img, .featured_logo2 img {
    width: 70%;
    height: 15vh;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 550px) {
  #reviews {
    padding: 10px;
  }

  #review_image {
    width: 80%;
    height: 180px;
  }
  #review_detail h2 {
    font-size: 3.5vw;
    margin:0 0 5px;
  }

  #review_detail h3 {
    font-size: 2.9vw; 
    margin: 4px;
  }

  #review_detail p {
    font-size: 2.8vw;
    margin: 4px;
  }

  #end_animation {
    width: 100vw;
    height: 40vh;
    overflow: hidden;
    position: absolute;
    margin-bottom: 0;
    right: 0;
    margin-top: 35vh;
  }
  
  #earth2 {
    height: 130vh;
    width: 300vw;
    position: absolute;
    right: -135vw;
    bottom: -98vh;
    overflow: hidden;
  }
  
  #end_orbit1 {
    height: 130vh;
    width: 300vw;
    position: absolute;
    right: -127vw;
    overflow: hidden;
    bottom: -96vh;
    animation: end_rotate 20s linear infinite;
  }
}

@media only screen and (max-width: 500px) {
  #reviews {
    padding: 8px;
  }

  #review_image {
    width: 80%;
    height: 160px;
  }

  #review_detail h2 {
    font-size: 3.8vw;
    margin:0 0 3px;
  }

  #review_detail h3 {
    font-size: 3.3vw; 
    margin: 2px;
  }

  #review_detail p {
    font-size: 3vw;
    margin: 2px;
  }

  #end_animation {
    width: 100vw;
    height: 40vh;
    overflow: hidden;
    position: absolute;
    margin-bottom: 0;
    right: 0;
    margin-top: 45vh;
  }
  
  #earth2 {
    height: 130vh;
    width: 300vw;
    position: absolute;
    right: -150vw;
    bottom: -98vh;
    overflow: hidden;
  }
  
  #end_orbit1 {
    height: 130vh;
    width: 300vw;
    position: absolute;
    right: -137vw;
    overflow: hidden;
    bottom: -96vh;
    animation: end_rotate 20s linear infinite;
  }
}

@media only screen and (max-width: 450px) {
  #reviews {
    padding: 8px;
  }

  #review_image {
    width: 80%;
    height: 160px;
  }

  #review_detail h2 {
    font-size: 4vw;
    margin:0 0 3px;
  }

  #review_detail h3 {
    font-size: 3.5vw; 
    margin: 2px;
  }

  #review_detail p {
    font-size: 3.2vw;
    margin: 2px;
  }
}

@media only screen and (max-width: 420px){
  #team_button {
    width: 35vw;
    padding: 2vh;
    border: 1px solid #D2F5FF;
    background-color: #00395E;
    color: #D2F5FF;
    text-align: center;
    font-size: 3vh;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
    margin-bottom: 15px;
  }
  #top_nav {
    position: fixed;
    top: 0;
    left: 0vw;
    width: 100vw;
    height: 8vh;
    background-color: rgba(0, 0, 0);
    color: white;
    z-index: 200;
  }
  #logo {
    height: 8vh;
  }
  #earth {
      bottom: -4vh;
      left: -2vw;
      height: 52vw;
      width: 52vw;
      transform: translateX(0) translateY(0);    
  }
  #end_animation {
    width: 100vw;
    height: 40vh;
    overflow: hidden;
    position: absolute;
    margin-bottom: 0;
    right: 0;
    margin-top: 45vh;
  }
    
  #earth2 {
    height: 130vh;
    width: 300vw;
    position: absolute;
    right: -160vw;
    bottom: -98vh;
    overflow: hidden;
  }
  
  #end_orbit1 {
    height: 130vh;
    width: 300vw;
    position: absolute;
    right: -147vw;
    overflow: hidden;
    bottom: -96vh;
    animation: end_rotate 20s linear infinite;
  }
  #reviews {
    padding: 6px;
  }

  #review_detail {
    margin-left: -15px;
  }

  #review_image {
    width: 70%;
    height: 160px;
  }

  #review_detail h2 {
    font-size: 4.2vw;
    margin:0 0 3px;
  }

  #review_detail h3 {
    font-size: 3.6vw; 
    margin: 2px;
  }

  #review_detail p {
    font-size: 3.4vw;
    margin: 2px;
  }
}

@media only screen and (max-width: 400px) {
  #team_button {
    width: 45vw;
    padding: 2vh;
    border: 1px solid #D2F5FF;
    background-color: #00395E;
    color: #D2F5FF;
    text-align: center;
    font-size: 3vh;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
    margin-bottom: 15px;
  }
  #reviews {
    padding: 6px;
  }

  #review_detail {
    margin-left: -25px;
  }

  #review_image {
    width: 70%;
    height: 160px;
  }

  #review_detail h2 {
    font-size: 4.8vw;
    margin:0 0 3px;
  }

  #review_detail h3 {
    font-size: 3.9vw; 
    margin: 2px;
  }

  #review_detail p {
    font-size: 3.6vw;
    margin: 2px;
  }
 
}  

@media only screen and (max-width: 380px) {
  #reviews {
    padding: 6px;
  }

  #review_detail {
    margin-left: -35px;
  }

  #review_image {
    width: 70%;
    height: 160px;
  }

  #review_detail h2 {
    font-size: 5vw;
    margin:0 0 3px;
  }

  #review_detail h3 {
    font-size: 4.1vw; 
    margin: 2px;
  }

  #review_detail p {
    font-size: 3.9vw;
    margin: 2px;
  }
  #end_animation {
    width: 100vw;
    height: 40vh;
    overflow: hidden;
    position: absolute;
    margin-bottom: 0;
    right: 0;
    margin-top: 43vh;
  }
  
  #earth2 {
    height: 130vh;
    width: 300vw;
    position: absolute;
    right: -180vw;
    bottom: -98vh;
    overflow: hidden;
  }
  
  #end_orbit1 {
    height: 130vh;
    width: 300vw;
    position: absolute;
    right: -167vw;
    overflow: hidden;
    bottom: -96vh;
    animation: end_rotate 20s linear infinite;
  }
}  